<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kartikey.medibook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_nurse"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name=".Activity.ActivitySplashScreen" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ActivityMenu"></activity>
        <activity android:name=".Activity.ActivityAppointmentLogin" />
        <activity android:name=".Activity.ActivityAppointmentLoggedIn" />
        <activity android:name=".Activity.ActivityAppointmentSignUp" />
        <activity android:name=".Activity.ActivityAppointmentForm" />
        <activity android:name=".Activity.ActivityDoctorLogin" />
        <activity android:name=".Activity.ActivityDoctorSignUp" />
        <activity android:name=".Activity.ActivityDoctorLogged" />
        <activity android:name=".Activity.ActivityDoctorRecycler" />
        <activity android:name=".Activity.ActivityHelp" />
    </application>

</manifest>